settings {
  statusFile = "/tmp/lsyndcd.status"
}

sync {
  default.rsync,
  source  = "/home/ruben/psr",
  target  = "/vol/hmi/projects/ruben/packages/psr",
  exclude = {'log', 'irl', '*.pkl', '*.npz'},
  delay=0
}

sync {
  default.rsync,
  source  = "/home/ruben/irl",
  target  = "/vol/hmi/projects/ruben/packages/irl",
  exclude = {'log', '*.pkl'},
  delay=0
}

sync {
  default.rsync,
  source  = "/home/ruben/rubens/rubens/exp/confs",
  target  = "/vol/hmi/projects/ruben/confs",
  delay=0
}

sync {
  default.rsync,
  source  = "/home/ruben/repositories/py-vgdl",
  target  = "/vol/hmi/projects/ruben/packages/py-vgdl",
  delay=0
}

sync {
  default.rsync,
  source  = "/home/ruben/rubens",
  target  = "/vol/hmi/projects/ruben/packages/rubens",
  delay=0
}
